body {
    background-image:50px;
    font-size:15px;
    background-color: rgb(136, 224, 136);
    margin: 30px;
    padding: 30px;
    border: solid black;
}

h3{
color: green;
background-color: black;
text-align: center;

}

.imagem{
    width: 30%;
}
.imagemm{
    width:29% ;
}